* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-clr: rgb(214, 214, 214);
    --border-size: 1px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ? navbar */

.nav {
    padding: 0 10%;
    width: 100%;
    height: 50px;

    background-color: white;
    box-shadow: 1px 0px 5px rgb(84, 84, 84);

    position: fixed;
    top: 0;
    z-index: 99;

    display: grid;
    grid-template-columns: 200px 1fr 100px 100px 20px;
    align-items: center;
}

.nav-logo {
    width: 120px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    justify-self: center;
}

.branch-logo {
    display: flex;
    align-items: center;
    justify-content: end;
    /* gap: 5px; */
}

.branch-logo img {
    padding-right: 20px;
    width: 100px;
}

.refresh-time {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.refresh-time img {
    width: 14px;
}

.nav-icon {
    width: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s;
}

.nav-icon:hover {
    transform: rotateZ(44deg);
}

.nav-icon:active {
    opacity: 0.5;
}

.controls {
    padding: 5px 5px;
    height: 80px;
    width: 150px;

    background-color: white;
    box-shadow: 0px 0px 4px rgb(136, 136, 136);

    position: fixed;
    top: 60px;
    right: 10%;
    z-index: 98;

    font-size: 13px;
    font-weight: bold;
    color: rgb(88, 88, 88);

    display: flex;
    flex-direction: column;
    gap: 10px;

    transform: translateY(-100px);
    transition: all 0.8s;
}

.controls.drop-down {
    transform: translateY(0);
}

.controls div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls div:first-child label, .controls div:first-child input, .controls div:nth-child(2) input {
    cursor: pointer;
}

.controls div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 25px;
    height: 12px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input:checked[type="checkbox"] {
    background: #0067e1;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 53%;
}


/* ? main body */

.table-label {
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: 200px 1fr;

    border: var(--border-size) solid var(--border-clr);
    border-radius: 8px;
}

.table-label p:first-child {
    border-right: var(--border-size) solid var(--border-clr);
}

.table-label p {
    padding: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(42, 42, 42);
}

.main-wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
}

.list-container {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    /* Ensure no overflow is visible */
    border: var(--border-size) solid var(--border-clr);
    border-radius: 8px;
}

.d-row {
    display: flex;
    flex-direction: row;
    height: 120px;
    /* Set height to 100px */
    border-bottom: var(--border-size) solid var(--border-clr);
}

/* 
.d-row:first-child {
    border-top: 1px solid rgb(191, 191, 191);
} */

.row-head {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;

    border-right: var(--border-size) solid var(--border-clr);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}



.row-head img {
    width: 80px;
}

.row-body {
    width: 100%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
}

.animate {
    justify-content: unset;
}


.card {
    margin: 5px 7px;
    padding: 0 10px;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 180px;
    height: 100px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;

    box-shadow: 2px 2px 4px rgba(82, 82, 82, 0.3);
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.card .bg-ele {
    width: 27px;

    position: absolute;
    right: 0px;
    bottom: 5px;

    z-index: 1;
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plate-no {
    font-size: 1.1rem;
    font-weight: bold;
}

.car-logo {
    width: 70px;
    height: 60px;
    object-fit: contain;
}

.car-logo img {
    width: 100%;
}

.time-lapsed-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.clock-icon {
    width: 12px;
}




.copyright {
    padding-bottom: 3px;
    background-color: white;
    box-shadow: 0px 3px 4px rgb(84, 84, 84);

    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    font-size: 12px;
}

.copyright a {
    color: unset;
}